<!-- search bar -->
<div class="container search-bar">
  <form class="search-bar-outer row" action="/search">
    <div class="search-bar-inner col-8">
      <h4 class="mb-2">尋找餐廳：</h4>
      <div class="input-group">
        <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..." value="{{keyword}}" aria-describedby="search-button" />
        <div class="input-group-append">
          <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
        </div>
      </div>
    </div>
    <div class="search-bar-inner col-4">
      <h4 class="mb-2">排序：</h4>
      <div class="input-group">
        <select class="form-control" name="sortBy" onchange="submit()">
          {{#each sortList}}
            <option value="{{this.value}}" {{#if (isEqual sort this.value)}}selected{{/if}}>{{this.item}}</option>
          {{/each}}
        </select>
      </div>
    </div>
  </form>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns">
        {{#each restaurants}}
          <div class="card mb-3">
            <a href="/restaurants/{{this._id}}" class="text-secondary">
              <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}" />
              <div class="card-body p-3">
                <h6 class="card-title mb-1">{{this.name}}</h6>
                <p class="card-subtitle mb-1">{{this.name_en}}</p>
                <div class="restaurant-category mb-1">
                  <i class="fas fa-utensils pr-2"></i>
                  {{this.category}}
                </div>
                <span class="badge badge-pill badge-danger font-weight-normal">
                  {{this.rating}}
                  <i class="fas fa-star fa-xs"></i>
                </span>
              </div>
            </a>
            <div class="d-flex justify-content-end align-items-start">
              <a class="btn btn-secondary mx-1" href="/restaurants/{{this._id}}/edit" role="button">編輯</a>
              <a class="btn btn-info mx-1" href="/restaurants/{{this._id}}" role="button">詳細</a>
              <form action="/restaurants/{{this._id}}?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger mx-1">刪除</button>
              </form>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>